%width-container {

  @media (max-width: 1439px) {
    width: 1024px;
  }
  @media (max-width: 1023px) {
    width: 768px;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
  width: 1440px;
  margin: 0 auto;
}